configuration {
    modi: "run,drun,window";
    show-icons: false;
    drun-display-format: "{name}";
    location: 0;
    disable-history: false;
    display-drun: " Apps ";
    display-run: " Run ";
    display-window: " Window ";
    sidebar-mode: true;
}

@theme "~/.config/rofi/themes/monochrome_slate.rasi"